<%- include('partials/header') %>

<div class="dashcontainer">
  <div class="emptySide"></div>
  <div class="mainSide">
    <div class="clientDetails">Sizing Details by Monthly Bill:</div>

    <% if (errors) { %>
    <div class="errorNotification"><%= errors %></div>
    <% } %> <% if(wasClientCreated == false){ %>
    <div class="errorNotification">Client details was not created</div>
    <% } else{ %> Client ID:
    <span class="clientDetails"><%= clientDetails[0].clientID %></span>
    <br />
    Name:
    <span class="clientDetails"
      ><%= clientDetails[0].firstname %> <%= clientDetails[0].lastname %></span
    >
    <% } %> <br /><br />

    <form action="/suggestInverterByBill" method="POST">
      <label for="monthlyBill">Average Monthly Bill (Php)</label><br />
      <input
        class="standard_field"
        type="number"
        id="monthlyBill"
        name="monthlyBill" /><br />
      <label for="currentPhase">Phase Type</label><br />
      <select name="currentPhase" id="currentPhase" class="standard_field">
        <option value="1">Single Phase</option>
        <option value="3">Three Phase</option>
      </select>
      <br /><br />

      <button type="submit" id="solarsize-btn" class="standard_btn">
        SUBMIT
      </button>
      <button
        type="submit"
        id="cancel-btn"
        class="standard_btn"
        formaction="/cancelCreateClient"
        formmethod="post">
        CANCEL
      </button>
    </form>
  </div>
</div>

<%- include('partials/footer') %>
